{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "lodash",
      { "id": ["lodash", "semantic-ui-react"] }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
